@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* banner-style */
.banner{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1260px;
    height:500px;
    
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.banner-icon{
    margin-top: 26px;
   
}
.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight:800;
line-height:50px;
text-align: center;
}
.banner-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: center;
margin-top: 10px;
}
.contact-me{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight:500;
    text-align: center;
    background-color: rgb(13, 19, 33);
    padding: 12px 18px;
    border-radius: 7px;
    margin-top: 10px;
    cursor: pointer;  
}
/* web-development-reason style */
.reason-web-developmen{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0px 70px;
    padding: 40px 20px;
    margin-top: 100px;
}
.reason-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-top: 50px;
}
.reasson-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
text-align: center;
margin-top: 10px;
}
/* change world style */
.change-world-container{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    border-radius: 16px;
    margin: 0 70px;
    padding: 13px 20px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255)
    ,rgba(255, 255, 255, 0) 100%);
    margin-top: 30px;
    
}
.change-world-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
text-align: left;
margin-bottom: 10px;
}
.change-world-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: left; 
    margin-top: 10px;
}
/* Learn-more-all-button-style */
.more-btn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: 1px	Inside
rgb(13, 19, 33);
padding: 5px 15px;
text-align: center;
margin-top: 13px;
cursor: pointer;
}
/* modern-web-system */
.modern-web-container{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    border-radius: 16px;
    margin: 0 70px;
    padding: 13px 20px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255)
    ,rgba(255, 255, 255, 0) 100%);
    margin-top: 30px;   


}
.modern-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
    word-spacing: -2px;
   
}
.modern-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: left; 
    margin-top: 10px;   
}
/* change-world-container-2 style */
.change-world-container-2{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    border-radius: 16px;
    margin: 0 70px;
    padding: 13px 20px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255)
    ,rgba(255, 255, 255, 0) 100%);
    margin-top: 30px;
}
.change-world-title-2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
    word-spacing: -2px;
}
.change-world-description-2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: left; 
    margin-top: 10px;     
}

/* inspiration-section */
.inspiration-container{
  border: 2px solid black; 
  height: 600px;
  width: 900px;
  padding-top: 50px;
  margin: 0 auto;
}
.inspiration-content h3{
    padding-top: 10px;
    font-weight: 700;
    font-family: Azeret Mono;
    text-align: center;
    font-size: 32px;
}
.inspiration-content p{
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
    font-family: Azeret Mono;
    font-size: 13px;

}
/* video-part style */
.video-banner{
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.03);
    border-radius: 18px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.video-part{
    width: 1100px;
    height: 500px;
    margin: 0 auto;
}

/* my-target-style */
.target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center; 
    margin-top: 15px; 
}
.target-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: center; 
    margin-top: 20px;
}

/* target style */
.target{
    margin-top: 100px;
}
.target-content{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:40px ;
    gap: 30px;
    

}
.terget-html{
    border-radius: 12px;
    background: rgba(255, 76, 30, 0.05);
    padding: 60px 20px;
}
.target-css{
    border-radius:12px;
    background: rgba(0, 76, 232, 0.05);
    padding: 60px 20px;  
}
.target-js{
    border-radius: 12px;
    background: rgba(255, 223, 0, 0.05); 
    padding: 60px 20px;
}
.html-title,.css-title,.js-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 8px;
}
.html-description,.css-description,.js-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 15px;  
    opacity: .7;
}
.language-link{
  color: rgb(38, 20, 20);  
}
.html-more,.css-more,.js-more{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top:20px;   
}
/* support style */
.support{
    background-image: url("../assets/handshake.jpg");
    width: 1040px;
    height: 300px;
   margin-top: 100px;
    background-position: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2);
    margin-left: 110px;
}
.support-content{
    text-align: center;
}
.support-title{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size:28px;
font-weight: 700;
padding-top: 40px;


}
.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    opacity: .7; 
    margin-top: 20px; 
}
.support-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.input-text{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 13px 32px;
margin-right: 15px;
text-align:left;
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
letter-spacing:-1px;
word-spacing:-4px;

}
.submit-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 13px 18px ;
    border: none;
    color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
cursor: pointer;
}
/* footer area style */
.footer-container{
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 25px 120px 25px 120px;  
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}
.owner-commitment{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.social-media img{
margin-left: 10px;
}

