@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* banner-style */
.banner{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1260px;
    height:500px;
    
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.banner-icon{
    margin-top: 26px;
   
}
.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight:800;
line-height:50px;
text-align: center;
}
.banner-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: center;
margin-top: 10px;
}
.contact-me{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight:500;
    text-align: center;
    background-color: rgb(13, 19, 33);
    padding: 12px 18px;
    border-radius: 7px;
    margin-top: 10px;  
}
/* web-development-reason style */
.reason-web-developmen{
background-color:rgba(13, 19, 33, 0.02) ;
padding: 50px 75px 50px 75px;
}
.reason-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-top: 100px;
}
.reasson-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
text-align: center;
margin-top: 10px;
}
/* change world style */
.change-world{
    display: flex;
    justify-content:space-between;
    flex-direction: row;

    align-items: center;
    
    
}
.change-world-title{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
text-align: left;
}
.change-world-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: left; 
}
.more-btn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: 1px	Inside
rgb(13, 19, 33);
padding: 5px 15px;
text-align: center;
}
/* modern-web-system */
.mordern-web-system{
    width:700px ;
    height: 300px;
    border-radius: 16px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
border: 2px solid;
}
.modern-web-content{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 48px;
}
/* change-world-2 style */
.change-world-2{
    display: flex;
}
/* 
inspiration-section */
.inspiration{
    margin-top: 80px;
}
.inspiration-title{
    text-align: center;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size:25px;
font-weight: 800;
margin-top: 16px;
}
.inspiration-description{
    text-align: center;
    margin-top:16px;
    margin-bottom: 20px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 400;
line-height: 26px;

}
.video{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    
    border-radius:16px;

}
/* my-target-style */
.target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center; 
    margin-top: 15px; 
}
.target-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: center; 
    margin-top: 20px;
}

/* target style */
.target{
    margin-top: 100px;
}
.target-content{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:40px ;
    gap: 30px;
    

}
.terget-html{
    border-radius: 12px;
    background: rgba(255, 76, 30, 0.05);
    padding: 60px 20px;
}
.target-css{
    border-radius:12px;
    background: rgba(0, 76, 232, 0.05);
    padding: 60px 20px;  
}
.target-js{
    border-radius: 12px;
    background: rgba(255, 223, 0, 0.05); 
    padding: 60px 20px;
}
.html-icon{
    
}
.html-title,.css-title,.js-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 8px;
}
.html-description,.css-description,.js-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 15px;  
    opacity: .7;
}
.html-more,.css-more,.js-more{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top:20px;   
}
/* support style */
.support{
    background-image: url("../assets/handshake.jpg");
    width: 1040px;
    height: 300px;
   margin-top: 100px;
    background-position: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2);
    margin-left: 110px;
}
.support-content{
    text-align: center;
}
.support-title{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size:28px;
font-weight: 700;
padding-top: 40px;


}
.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    opacity: .7; 
    margin-top: 20px; 
}
.support-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.input-text{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 13px 32px;
margin-right: 15px;
text-align:left;
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
letter-spacing:-1px;
word-spacing:-4px;

}
.submit-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 13px 18px ;
    border: none;
    color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
}
/* footer area style */
.footer-container{
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 25px 120px 25px 120px;  
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}
.owner-commitment{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.social-media img{
margin-left: 10px;
}

